<!doctype html>
<!--
on section using we can use this page on base page
-->

<html lang="en" xml:th="http://www.thymeleaf.org"
      th:replace="base::Layout(~{::section})"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>About Page</title>
</head>
<body>
<h1>hi</h1>
<section><h1>AboutPage</h1></section>
</body>
</html>