<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <!-- Meta tags, title, and other head elements -->
    <title>About Page</title>
</head>
<body>
<section style="margin-top: 10%;"> <!-- Add margin-top here -->
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center " style="color: #709085">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="mt-5">
                    <div class="alert alert-success" role="alert">
                       The OTP is Sended Successfully
                    </div>

                    <div class="container" th:if="${session.message}" >
                        <div th:classappend:="${'alert'+ session.message.type}" class="alert text-center " role="alert">
                            <span th:text="${session.message.content}"></span>
                        </div>
                        <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

                    </div>


                    <form action="" th:action="@{/send-otp}" method="post" >
                        <div class="form-group">
                            <input name="otp" type="text" placeholder="Enter Your Email Here" class="form-control">
                        </div>
                        <div class="container text-center text-bold mt-5">
                            <button class="btn btn-success">
                                Verify
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
